<div *ngIf="hero" class="app-hero-detail">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" class="hero-name"/>
    </div>
    <button (click)="save()"> save </button>
    <button (click)="goBack()">go back</button>
  </div>