/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin-top: 2em;height:100vh;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
      height:20;
      margin: -2em 0 0 -2em;
      padding: 0;
      width: 100vw;
      padding: 1.2em;
      background-color: #e6e6e6;
      display: flex;
      justify-content: center;
  }
  nav a{margin-left: 18px;}

  