<div class="heroes-container">
<h2>{{title}}</h2>
<div class="add-hero">
  <label id="new-hero">Hero name: </label>
  <input for="new-hero" #heroName  class="hero-name"/>

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)='addHero(heroName.value)'>
    Add hero
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete hero"
  (click)="deleteHero(hero)">x</button>
  </li>
</ul>
</div>
<!--
    <div *ngIf="selectedHero">
<h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
</div>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div>

 -->



