/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    position: relative;
    cursor: pointer;
  }
  
  .heroes li a:hover {
    left: .1em;
  }
  
  .heroes a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .heroes a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .heroes a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  li{display: flex;}
  .delete{align-self: center;
    padding: 8px 10px 8px 10px;
    background: #333;
    color:white;
    border:none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
  }
  .delete:hover{
   background: #555;
  }
  .add-button{
    background-color: #eee;
    padding:  10px 2rem 10px 2rem;
    border:none;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 8px;
  }
  .add-hero{margin: 20px;}
  .hero-name{
    padding: 8px;
    border:1px solid #999;
    border-radius:3px
  }
  .heroes-container{width:500px;display: flex;flex-direction: column;align-items: center;margin: auto;}